<system.serviceModel>
  <bindings>
    <!-- pick whichever binding you want .... -->
    <basicHttpBinding>
      <!-- binding configuration with a name -->
      <binding name="ExtendedMaxSize"
          maxBufferSize="99999999" maxReceivedMessageSize="99999999" />
    </basicHttpBinding>
  </bindings>
  <services>
    <service name="Yournamespace.YourServiceClass" behaviorConfiguration="...">
      <!-- define endpoint with your binding and the name of the binding configuration
           that you have defined just above -->
      <endpoint address=""
                binding="basicHttpBinding"
                bindingConfiguration="ExtendedMaxSize"
                contract="Yournamespace.IYourServiceContract" />
    </service>
  </services>
</system.serviceModel>
