{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
        "BreakerRetryWaitTime": "10",
        "IsTestEnv": true,
        "KartverketRegisterenhetsrettsandelerForPersonUrl": "",
        "LandbrukUrl": ""
    }
}
